/*Estilos del menu superior*/
:root {
  --white: #FFFFFF;
  --black: #000000;
  --very-light-pink: #C7C7C7;
  --text-input-field: #F7F7F7;
  --blue-border: #007fe7;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}
body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

.contenedor {

  position: relative;
  margin: auto;
  width: 85%;
  height: 1000px;
  background-color: #007fe7;
}
/*Styles banner*/
.banner{
  display: flex;
  justify-content: center;
  position: absolute;
  margin: 0%;
  position: 0;
  width: 100%;
  height: 900px;
  background-color: var(--white);
}
.modalbuscar{
  
 display: flex;
 align-items: center;
 justify-content: center;


}
.buscar {
  flex: 1;
  padding: 20px;
  font-size: 18px;
  border: none;
  border-radius: 25px 0 0 25px;
  outline: none;
  border: #000000;
  background-color: #f0efef;
  width:600px;


}

.boton-buscar {
  background-color: #82c6f3;
  color: white;
  border: none;
  border-radius: 0 25px 25px 0;
  padding: 20px 25px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
  width:150px;

}
.boton-buscar:hover {
  background-color: #2980b9;
}
/*contenedor1*/

.contenedor1{
  position: absolute;
  margin: 0%;
  position: 0;
  width: 100%;
  height: 800px;
  background-color: #1db13d;
}


nav {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  border-bottom: 1px solid var(--very-light-pink);
}
.menu {
  display: none;
}
.logo-index {
  width: 50px;
  height: 50px;
}
.call-login{
        width: 50px;
        height: 50px;
    
}
.navbar-left ul,
.navbar-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 60px;
}
.navbar-left {
  display: flex;
}
.navbar-left ul {
  margin-left: 12px;
}
.navbar-left ul li a,
.navbar-right ul li a {
  text-decoration: none;
  color: var(--very-light-pink);
  border: 1px solid var(--white);
  padding: 8px;
  border-radius: 8px;
}
.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
  border: 1px solid var(--blue-border);
  color: var(--blue-border);
}
.navbar-nombre {
  color: var(--very-light-pink);
  font-size: var(--sm);
  margin-right: 12px;
}



/*Estilo pie de pagina*/
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0.25rem;
    position: 0;
    bottom: 0;
    width: 100%;
    
}

/*Estilo de login*/
    .logo{
      width: 70px;
      height: 70px;
      justify-content: center;
    }

    .form-container-login {
      display: grid;
      grid-template-rows: auto 1fr auto;
      background-color: var(--white);        
      width: 360px;
      padding: 0 25px;
      box-sizing: border-box;
      position: absolute;
      right: 0;
    }
  
    .form {
      display: flex;
      flex-direction: column;
    }
    .form a {
      color: var(--blue-border);
      font-size: var(--sm);
      text-align: center;
      text-decoration: none;
      margin-bottom: 52px;
    }
    .label {
      font-size: var(--sm);
      font-weight: bold;
      margin-bottom: 4px;
    }
    .input {
      background-color: var(--text-input-field);
      border: none;
      border-radius: 8px;
      height: 30px;
      font-size: var(--md);
      padding: 6px;
      margin-bottom: 12px;
    }
    .input-email {
      margin-bottom: 22px;
    }
    .primary-button {
      background-color: #f0f0f0;
      border-radius: 8px;
      border: none;
      color: var(--black);
      width: 100%;
      cursor: pointer;
      font-size: var(--md);
      font-weight: bold;
      height: 50px;
    }
    .primary-button:hover {
      background-color: #94ec89;
      border-color:#1ccc05;
    }
  
    .secondary-button {
      background-color:#f0f0f0 ;
      border-radius: 8px;
      border: none;
      color: var(--black);
      width: 100%;
      cursor: pointer;
      font-size: var(--md);
      font-weight: bold;
      height: 50px;
      margin: 5px;
    }
    .secondary-button:hover {
      background-color: #94ec89;
    }

    .login-button {
      
      margin-bottom: 30px;
    }

  
    .inactive {
      display: none;
    
    }


 
@media (max-width: 640px) {
  .menu {
    display: block;
  }
  .navbar-left ul {
    display: none;
  }
  .logo {
    display: block;
  }
  .modalbuscar{
    width: 50px;
  }

}
